body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #333;
}

main {
    padding: 1rem;
}

section.comic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.comic img {
    max-width: 80vw; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 3rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Aligns children elements at each end */
    align-items: center; /* Aligns items vertically */
    padding: 1rem;
}

.header-left h1 {
    margin: 0;
    margin-left: 50px;
}

.header-right nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.header-right nav ul li {
    display: inline;
    margin-left: 20px; /* Adjust the spacing between menu items */
}

.header-right nav ul li:first-child {
    margin-left: 0;
}

.header-right nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Button styles */
button {
    background-color: #555; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #666; /* Darker green */
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: center; /* Aligns items at each end */
    align-items: center; /* Aligns items vertically */
}

/* Button styles */
footer button {
    background-color: #555;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0 2px;
    cursor: pointer;
}

/* Button container styles */
.button-container {
    display: flex;
    margin-left: 10rem;
}

/* Navigation styles */
nav {
    font-size: 18px;
    padding: 10px;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Active navigation item style */
nav ul li.active a {
    font-weight: bold;
}

.text {
    margin-left: 50px;
    margin-right: 50px;
    color: #fff;
    font-size: 1.5rem;
}

/* Posts section styles */
.posts {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.post h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.post p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Content section styles */
.content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff; /* Background color similar to .posts */
    max-width: 600px; /* Maximum width of the content section */
    margin: 20px auto; /* Center the content section */
}

/* Image container styles */
.image-container {
    flex: 1;
    margin-right: 20px; /* Add space between image and text */
}

.image-container img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
}

/* Text container styles */
.text-container {
    flex: 2;
}